$bg : #101010;
$fg : #F6E4D3;
$green : #48A096;
$f1: 'Roboto';
$f2: 'Druk Wide Web Bold';
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
@import url('https://db.onlinewebfonts.com/c/29800a9e7d146302b8ed9ad2f848db63?family=Druk+Wide+Web+Bold');


html, body {
	margin: 0;
	padding: 0;
	background-color: $bg;
	font-family: $f1;
	color: $fg;
}

.cta {
	font-family: $f2;
	padding: 12px;
	color: $green;
	border: 1px solid $green;
	border-radius: 5px;
	font-size: 1.2rem;
}